{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "es2020": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:node/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["node", "import", "react", "react-hooks", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2020
  },
  "globals": {},
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "node/exports-style": [
      "error",
      "module.exports",
      {
        "allowBatchAssign": false
      }
    ],
    "node/no-unsupported-features/es-syntax": 0,
    "node/no-missing-import": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false,
        "variables": false
      }
    ],
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "ImportDeclaration": true,
          "VariableDeclarator": true
        }
      }
    ],
    "key-spacing": [
      "error",
      {
        "mode": "minimum"
      }
    ],
    "no-plusplus": ["off"],
    "class-methods-use-this": [0],
    "semi": 0,
    "consistent-return": 0,
    "no-restricted-syntax": [0],
    "no-unused-expressions": [0],
    "no-unused-vars": ["warn"],
    "camelcase": [1],
    "spaced-comment": [1],
    "no-undef": ["error"],
    "max-lines": [
      1,
      {
        "max": 250
      }
    ],
    "react/display-name": [0],
    "promise/always-return": [0],
    "react/prop-types": [0],
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "no-console": 1,
    "react/self-closing-comp": 1,
    "import/named": 2
  }
}
